
.banner{
    position: relative;height: 40vh;
    background-position: center;background-size: cover;
     
   h1{
       width: 100vw;height: 100%;top: 0;left: 0;text-align: center;
       background-color: transparentize($color: #000000, $amount: .3);
       padding: 12% 5px 0 5px;font-weight: bolder;
       position: absolute;color: #fff;font-size: 36px;
       display: flex;flex-direction: column;
       width: 100%;text-transform: capitalize;
       span{
        font-size: 30px;font-weight: lighter;font-family: 'Montserrat';
           color: #FECC18;padding-top: 10px;
       }
   }
}


@media screen and (min-width:768px) {
    .banner{
        color: red;
        height: 40vh;
        h1{
            padding-left: 140px;padding-right: 140px;
            font-size: 50px;
        }
    }
}


@media screen and (min-width:1024px) {
    .banner{
        height: 70vh;
        h1{
            font-size: 60px;
        }
    }
}

@media screen and (min-width:1200px) {
    .banner{
        height: 90vh;
        h1{
          font-size: 90px;
        }
    }
}
















