html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p,
a, code,
img, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  height: 5rem;
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
}
.header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: rgb(255, 0, 0);
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 32px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(255, 0, 0);
  content: "";
  display: block;
  margin-top: 15px;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.banner {
  position: relative;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
.banner h1 {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12% 5px 0 5px;
  font-weight: bolder;
  position: absolute;
  color: #fff;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: capitalize;
}
.banner h1 span {
  font-size: 30px;
  font-weight: lighter;
  font-family: "Montserrat";
  color: #FECC18;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .banner {
    color: red;
    height: 40vh;
  }
  .banner h1 {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    height: 70vh;
  }
  .banner h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    height: 90vh;
  }
  .banner h1 {
    font-size: 90px;
  }
}
.services {
  padding-top: 25px;
}
.services h2 {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bolder;
}
.services h2 span {
  color: #FECC18;
}
.services .container .row .col-md-6 .card {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.407);
}
.services .container .row .col-md-6 .card img {
  height: 160px;
}
.services .container .row .col-md-6 .card .card-body {
  height: 8rem;
}
.services .container .row .col-md-6 .card .card-body h4 {
  background-color: rgba(0, 0, 0, 0.5607843137);
  padding: 5px 25px 5px 10px;
  top: 8.7rem;
  left: 0;
  font-size: 25px;
  text-align: left;
  position: absolute;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.407);
}
.services .container .row .col-md-6 .card .card-body p {
  padding-top: 20px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .services {
    height: 86vh;
    padding-top: 2em;
  }
  .services h2 {
    font-size: 30px;
  }
  .services .container .row .col-md-6 .card {
    width: 100%;
  }
  .services .container .row .col-md-6 .card img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 200px;
  }
  .services .container .row .col-md-6 .card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding: 0 0 0 5px;
  }
  .services .container .row .col-md-6 .card .card-body h4 {
    padding: 5px 10px 5px 10px;
    top: 11.5rem;
    font-size: 25px;
    text-align: left;
  }
  .services .container .row .col-md-6 .card .card-body p {
    padding: 0 20px 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .services {
    height: 70vh;
    padding-top: 30px;
  }
  .services h2 {
    font-size: 40px;
    padding-bottom: 30px;
  }
  .services .container .row .col-md-6 .card {
    width: 100%;
  }
  .services .container .row .col-md-6 .card img {
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services .container .row .col-md-6 .card .card-body h4 {
    top: 7rem;
    padding: 5px 25px 5px 25px;
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .services {
    height: 90vh;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .services h2 {
    font-size: 50px;
    padding-bottom: 80px;
  }
  .services .container .row .col-md-6 .card {
    width: 100%;
  }
  .services .container .row .col-md-6 .card img {
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services .container .row .col-md-6 .card .card-body {
    height: 150px;
    padding-top: 30px;
  }
  .services .container .row .col-md-6 .card .card-body h4 {
    top: 8.5rem;
    font-size: 25px;
    text-align: center;
    padding: 5px 10px 5px 10px;
  }
}
.cars {
  padding: 0 50px 0 40px;
}
.cars h2 {
  font-size: 35px;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
  padding: 20px;
}
.cars .row .col-md-6 {
  margin-bottom: 2rem;
}
.cars .row .col-md-6 .card .imgM {
  height: 13rem;
}
.cars .row .col-md-6 .card .imgM img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cars .row .col-md-6 .card .card-body h5 {
  font-size: 24px;
}
.cars .row .col-md-6 .card .card-body p {
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .cars {
    padding: 0 50px 0 40px;
  }
  .cars h2 {
    font-size: 35px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
  }
  .cars .row {
    display: flex;
    justify-content: space-evenly;
  }
  .cars .row .col-md-6 {
    margin-bottom: 2rem;
  }
  .cars .row .col-md-6 .card {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.407);
    border: none;
  }
  .cars .row .col-md-6 .card .imgM {
    height: 13rem;
  }
  .cars .row .col-md-6 .card .imgM img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cars .row .col-md-6 .card .card-body h5 {
    font-size: 24px;
  }
  .cars .row .col-md-6 .card .card-body p {
    padding-bottom: 10px;
  }
  .cars .row .col-md-6 .card .card-body button {
    border: none;
    background-color: red;
  }
}
@media screen and (min-width: 1200px) {
  .cars {
    padding-top: 4rem;
  }
}
.subscribe {
  background-color: #E5E5E5;
  height: 35vh;
  padding-top: 30px;
}
.subscribe .container {
  text-align: center;
}
.subscribe .container h2 {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}
.subscribe .container h2 span {
  color: #FECC18;
}
.subscribe .container p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 20px;
}
.subscribe .container form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe .container form #mail {
  height: 30px;
  outline: none;
  border: none;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
}
.subscribe .container form #submit {
  height: 30px;
  outline: none;
  border: none;
  color: #fff;
  font-family: "Raleway", sans-serif;
  background: #FF0000;
  border-radius: 5px;
  width: 25%;
}

@media screen and (min-width: 768px) {
  .subscribe {
    height: 20vh;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe .container h2 {
    font-size: 40px;
    padding-bottom: 15px;
  }
  .subscribe .container p {
    font-size: 20px;
  }
  .subscribe .container form #mail {
    height: 45px;
    padding-left: 15px;
    font-size: 20px;
    width: 40%;
  }
  .subscribe .container form #submit {
    height: 45px;
    width: 20%;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    height: 30vh;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    height: 50vh;
  }
}
footer .container .col-md-3 .inner-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .container .col-md-3 .inner-log .log img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .container .col-md-3 .inner-log .links a {
  background-color: rgba(255, 0, 0, 0.69);
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
}
footer .container .col-md-3 .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
}
footer .container .col-md-3 .inner h3 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  padding-bottom: 30px;
}
footer .container .col-md-3 .inner p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  padding-bottom: 10px;
}
footer .container .col-md-3 .inner p span {
  display: block;
  text-align: center;
}
footer .container .col-md-3 .inner a {
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
}
footer .container .copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
  border: 2px solid #FECC18;
}
footer .container .copyright p {
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  footer .container .col-md-3 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
  }
  footer .container .col-md-3 .inner h3 {
    font-size: 25px;
  }
  footer .container .copyright {
    flex-direction: row;
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    height: 50vh;
    padding-top: 60px;
  }
}/*# sourceMappingURL=Style.css.map */